# Prevent yarn.lock files from being committed, they are tainted by verdaccio
yarn.lock
package-lock.json
node_modules
.angular

# Yarn files
/**/.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions